/* GENERAL */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #fff;
}

body,
input,
textarea {
	color: #191919;
	font: 14px/140% 'Open Sans', Arial, sans-serif;
}

a {
	color: #119bdf;
	text-decoration: none;

	&:hover {
		color: #29aeef;
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
p,
ul,
code,
table {
	margin: 0 0 20px;
}

code {
	font-family: 'Monaco', monospace, sans-serif;
}


.float-right {
	float: right;
	margin-left: 1em;
}

.float-left {
	float: left;
	margin-right: 1em;
}

$sizes: ('sm', 30%), ('md', 50%), ('lg', 70%);

@each $size in $sizes {
	.size-#{nth($size, 1)} {
		max-width: nth($size, 2);
	}
}

.home {
	h1 a {
		color: black;
	}

	text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.props {
	padding: 1em 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;

	td:nth-child(1) {
		font-weight: bold;
		padding-right: 1em;
		white-space: nowrap;
	}

	&.detailed tr:nth-child(even) {
		font-size: 80%;
	}
}